{% extends 'base.html.twig' %}

{% block body %}
    <h1>Note list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Title</th>
                <th>Content</th>
                <th>Creatat</th>
                <th>Updateat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td><a href="{{ path('note_show', { 'id': note.id }) }}">{{ note.id }}</a></td>
                <td>{{ note.userId }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.content }}</td>
                <td>{% if note.createAt %}{{ note.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if note.updateAt %}{{ note.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <section>
                            <md-button>show</md-button>
                            <md-button ng-href="{{ path('note_edit', { 'id': note.id }) }}">edit</md-button>
                        </section>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('note_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
